
<body class="skin-default-dark fixed-layout">
    

    <div id="main-wrapper">

        <div class="page-wrapper">

            <div class="container-fluid">

                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Usuarios</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
                                <li class="breadcrumb-item active">Usuarios</li>
                            </ol>
                            <a class="btn btn-success d-none d-lg-block m-l-15"> </a>
                        </div>
                    </div>
                </div>

            <h2>Resultados por Subasta</h2>

            <div id=" contenedor_tabla" >

              <table id="tblResultadosSubastas" class="table" >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha inicio</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Estatus</th>
                    <th scope="col">Tipo de subasta</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Total participantes</th>
                    <th scope="col">Total autos</th>
                    <th scope="col">Total pujas</th>
                    <th scope="col">Revisar resultados DESC</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>

             </div>

            <div id=" contenedor_tabla_ganadores" >

              <table id="tblGanadores" class="table" >
                <thead class="thead-dark">
                  <tr>
                    <th class='col'>Foto</th>
                    <th class='col'>Marca</th>
                    <th class='col'>Modelo</th>
                    <th class='col'>Año</th>
                    <th class='col'>Precio</th>
                    <th class='col'>Ganador</th>
                    <th class='col'>Oferta ganadora</th>
                    <th class='col'>Hora de la oferta</th>
                    <th class='col'>Ganancia</th>
                    <th class='col'>Detalle de ofertas</th>
                  </tr>
                </thead>
                <tbody>

                </tbody>
              </table>

             </div>

            <div  class="modal bottom-sheet">
    <div class="">

            <a href="#!" class="modal-action modal-close waves-effect waves-green btn red tooltipped" data-position="top" data-delay="50" data-tooltip="Cerrar"><i class="material-icons">clear</i></a>

    </div>
              <table id="tblTotalOfertas" class="modal-content divRegistro" class="table" >
                <thead class="thead-dark">
                  <tr>
                    <th class='col'>Usuario</th>
                    <th class='col'>Oferta</th>
                    <th class='col'>Fecha de la oferta</th>
                    <th class='col'>Ganador</th>
                    <th class='col'>Estatus</th>
                    <th class='col'>Motivo</th>
                  </tr>
                </thead>
            <tbody id="tblTotalOfertasBody">

            </tbody>
                <tbody>

                </tbody>
              </table>

             </div>

            </div>

        </div>
    </div>
</body>

